@model DistanciasViewModel

@{
    ViewData["Title"] = "Conversor Distâncias";
}

<form asp-controller="Home" asp-action="Index" method="post">
    <div class="form-group">
        <label>Informe o Valor em Milhas:</label>
        <div>
            <input asp-for="DistanciaMilhas" style="width: 200px;" class="form-control" data-val="true" />
            <span asp-validation-for="DistanciaMilhas"></span>
        </div>
        <div class="form-group" style="padding-top: 40px; padding-bottom: 40px;">
            <div class="col-md-offset-2 col-md-10">
                <button id="btnConverter" type="submit">Converter</button>
            </div>
        </div>

        @if (Model != null && Model.DistanciaKm.HasValue)
        {
            <div class="form-group" style="padding-bottom: 20px;">
                <label>Valor em Km:</label>
                <label id="DistanciaKm" style="text-align: left;">@Model.DistanciaKm</label>
            </div>
        }
    </div>
</form>